@model MVCBookShop.Models.Cart.Cart

@{
    ViewData["Title"] = "Cart";
}

<h1>Корзина</h1>

@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Книга</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Всего</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="bookId" value="@item.BookId" />
                            <button type="submit" class="btn btn-danger">Убрать</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="center-text">Ваша корзина пуста.</p>
}

@if (Model.Items.Any())
{
    <form asp-action="Checkout" method="post">
        <button type="submit" class="btn btn-primary">Заказать</button>
    </form>
}

@{
    string message = TempData["Message"]?.ToString();
}

@if (!string.IsNullOrEmpty(message))
{
    <script>
        var message = '@Html.Raw(message)';
        window.onload = function () {
            alert(message);
        };
    </script>
}